@mixin flex {
  display: flex;
}

@mixin flex-v-center {
  display: flex;
  align-items: center;
}

@mixin flex-h-center {
  display: flex;
  justify-content: center;
}

@mixin flex-j-start {
  display: flex;
  justify-content: flex-start;
}
@mixin flex-j-end {
  display: flex;
  justify-content: space-between;
}


@mixin flex-all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-all-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-all-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@mixin inline-center-between {
  display: inline-block;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
