<header class="header @header">
  <div class="header__container container">
    <div class="header__nav">
      <img class="header__logo" src="../img/Home/header/logo.png" alt="Indium Technologies">
      <ul class="header__items">
        <li class="header__list @headerList"><a href="../../index.html" class="header__link link-active">Home</a></li>
        <li class="header__list @headerList"><a href="../../about.html" class="header__link link-active">About Us</a></li>
        <li class="header__list @headerList"><a href="#!" class="header__link link-active">Services</a></li>
        <li class="header__list @headerList"><a href="#!" class="header__link link-active">Careers</a></li>
        <li class="header__list @headerList"><a href="#!" class="header__link btn-red">CONTACT US</a></li>
      </ul>
      <div class="header__burger burger-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
